{{> admin/header}}

                <!-- Top Bar End -->

                <div class="page-content-wrapper ">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right page-breadcrumb">

                                </div>
                                <h5 class="page-title">Offers</h5>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                    <div class="card m-b-30">
                                            <div class="card-body">
                
                                                <h4 class="mt-0 header-title">Offers by site</h4>
                                                <p class="text-muted m-b-30 font-14">Your awesome text goes here.</p>
                                                
                                                <div class="table-responsive">
                                                    <table class="table table-dark mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Service</th>
                                                            <th>Message</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Mark</td>
                                                            <td>Otto</td>
                                                            <td>@mdo</td>
                                                            <td>@mdo</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div> <!-- end row -->

                    </div><!-- container fluid -->

                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->
{{> admin/footer}}