<footer class="hooter">
    <div class="container">
    <form id="letstogether" method="post">
        <div class="hooter-footer">
            <div class="hooter-col">
                <div class="hooter-footer__title">Have a great idea?</div>
                <div class="hooter-footer__subtitle">Let’s work together</div>
                <div class="hooter-footer__container">
                    <div class="hooter-footer__container__title">Choose Service(s)</div>
                    <div class="hooter-footer__container__details">
                            <div class="selections">
                                <div class="label-button"><label><input type="checkbox"
                                            value="Design" name="services[]"><span>Design</span></label></div>
                                <div class="label-button"><label><input type="checkbox"
                                            value="Development" name="services[]"><span>Development</span></label></div>
                                <div class="label-button"><label><input type="checkbox"
                                            value="UX" name="services[]"><span>UX</span></label></div>
                                <div class="label-button"><label><input type="checkbox"
                                            value="Coaching" name="services[]"><span>Coaching</span></label></div>
                                <div class="label-button"><label><input type="checkbox"
                                            value="Startup" name="services[]"><span>Startup</span></label></div>
                            </div>
                            <div class="information"><img src="https://agsh.in/assets/img/arrow.png" alt="Next step" width="50"></div>
                    </div>
                </div>
            </div>
            <div class="hooter-col">
                <div class="hooter-footer__title">Fill in this form or <a href="mailto:rajabov@agsh.in">send us an
                        e-mail.</a></div>
                <div class="hooter-footer__form"><label for="name"><input id="name" type="text"
                            placeholder="Name" class="footer-input" required></label> <label for="email"><input id="email"
                            type="email" placeholder="E-mail" class="footer-input" required></label> <label
                        for="message"><textarea name="" id="message" placeholder="Message"
                            class="footer-input" required></textarea></label>
                    <div class="information"><button type="submit" class="footer-button"
                            id="open-dialog">Send</button></div>
                </div>
            </div>
            <div class="hooter-col">
                <div class="hooter-footer__subtitle">Contacts</div>
                <div class="hooter-footer__contact">
                    <div class="hooter-footer__contact__details">
                        <div class="hooter-footer__contact__details__subtitle">Hire Me</div>
                        <div class="hooter-footer__contact__details__title">rajabov@agsh.in</div>
                        <div class="hooter-footer__contact__details__title">+994 55 785 75 85</div>
                    </div>
                    <div class="hooter-footer__contact__details">
                        <div class="hooter-footer__contact__details__subtitle">Follow</div>
                        <div class="hooter-footer__contact__details__title">
                            <ul>
                                <li><a href="https://www.instagram.com/agsh.in/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/agshin-rajabov-9b905725/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/c/shuffleuniversity" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                {{!-- <li><a href="#"><i class="fab fa-github"></i></a></li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</footer>