<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agshin Rajabov / .personal page</title>
    {{#if (eq this)}}
        <link rel="stylesheet" href="http://agsh.in/assets/css/default.min.css">
    {{else}}
        <link rel="stylesheet" href="http://agsh.in/assets/css/default.min.css">
    {{/if}}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<div class="preloader">
    <lottie-player
        src="https://assets9.lottiefiles.com/datafiles/ijt3wCBtfkexK2gMJU1AXSmQfe30CWFTGkRpcV0u/json/data.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
</div>
