 <header>
            <div class="container">
                <div class="header">
                    <div class="logo"><a href="https://agsh.in/"><img src="./assets/img/logo3.png" alt=""></a></div>
                    <nav>
                        <ul>
                            <li><a href="/tools" title="Tools">Tools</a></li>
                            <li><a href="/works" title="Works">Works</a></li>
                            <li><a class="primary-button" href="/hire" title="Hire Me">Hire Me</a></li>
                        </ul>
                        <div class="hire-me-button-mobile"><a class="primary-button" href="/hire" title="Hire Me">Hire Me</a></div>
                    </nav>
                </div>
            </div>
        </header>