 {{> header}}
<body>
           {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">Fonts</div>
        </div>
    </section>
    <section class="container" style="margin-bottom:10rem">
        <div class="tools-area">
            <a href="http://agsh.in/fonts/cerapro.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Cera Pro
                    </div>
                </div>
            </a>
             <a href="http://agsh.in/fonts/opensans.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Open Sans
                    </div>
                </div>
            </a>
             <a href="http://agsh.in/fonts/markpro.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Mark Pro
                    </div>
                </div>
            </a>
             <a href="http://agsh.in/fonts/roboto.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Roboto
                    </div>
                </div>
            </a>
             <a href="http://agsh.in/fonts/montserrat.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Montserrat
                    </div>
                </div>
            </a>
             <a href="http://agsh.in/fonts/mazzard.zip" class="tools-col">
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Mazzard
                    </div>
                </div>
            </a>
        </div>
    </section>
     {{> footer}}
     {{> hooter}}
</body>

</html>