
            <footer class="footer">
                © 2018 <b>Agsh.In</b> <span class="d-none d-sm-inline-block"> - Created with <i
                        class="mdi mdi-heart text-danger"></i></span>
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->


    <!-- jQuery  -->
    <script src="./adassets/js/jquery.min.js"></script>
    <script src="./adassets/js/bootstrap.bundle.min.js"></script>
    <script src="./adassets/js/modernizr.min.js"></script>
    <script src="./adassets/js/detect.js"></script>
    <script src="./adassets/js/fastclick.js"></script>
    <script src="./adassets/js/jquery.slimscroll.js"></script>
    <script src="./adassets/js/jquery.blockUI.js"></script>
    <script src="./adassets/js/waves.js"></script>
    <script src="./adassets/js/jquery.nicescroll.js"></script>
    <script src="./adassets/js/jquery.scrollTo.min.js"></script>

    <!-- skycons -->
    <script src="./adassets/plugins/skycons/skycons.min.js"></script>

    <!-- skycons -->
    <script src="./adassets/plugins/peity/jquery.peity.min.js"></script>

    <!--Morris Chart-->
    <script src="./adassets/plugins/morris/morris.min.js"></script>
    <script src="./adassets/plugins/raphael/raphael-min.js"></script>

    <!-- dashboard -->
    <script src="./adassets/pages/dashboard.js"></script>

    <!-- App js -->
    <script src="./adassets/js/app.js"></script>

    <!--Wysiwig js-->
    <script src="./adassets/plugins/tinymce/tinymce.min.js"></script>

    <!-- App js -->
    <script src="./adassets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            if ($("#elm1").length > 0) {
                tinymce.init({
                    selector: "textarea#elm1",
                    theme: "modern",
                    height: 300,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                    style_formats: [
                        { title: 'Bold text', inline: 'b' },
                        { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                        { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                        { title: 'Example 1', inline: 'span', classes: 'example1' },
                        { title: 'Example 2', inline: 'span', classes: 'example2' },
                        { title: 'Table styles' },
                        { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                    ]
                });
            }
        });
    </script>

</body>

</html>