{{> header}}

<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="#"><img src="" alt=""></a></div>
                <nav>
                    <ul>
                        <li><a href="#">Tools</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Coaching</a></li>
                        <li><a class="primary-button" href="#">Hire Me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="title">
        <div class="container">
            <div class="default-title">Coaching</div>
            <div class="coaching">
                <div class="coaching-details">
                    <p class="coaching-details-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                        accusantium dolorum dolore possimus, consequatur provident maxime! Maiores dolore saepe tempora
                        aliquid quae libero ad, beatae tempore excepturi? Ad, molestias maxime!</p>
                    <p class="coaching-details-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                        accusantium dolorum dolore possimus, consequatur provident maxime! Maiores dolore saepe tempora
                        aliquid quae libero ad, beatae tempore excepturi? Ad, molestias maxime!</p>
                    <div class="coaching-details-works">
                        <div class="default-title">Supported</div>
                        <div class="coaching-details-works-logos">
                            <ul>
                                <li><a href=""><img src="http://acmelogos.com/images/logo-3.svg" alt=""></a></li>
                                <li><a href=""><img src="http://acmelogos.com/images/logo-3.svg" alt=""></a></li>
                                <li><a href=""><img src="http://acmelogos.com/images/logo-3.svg" alt=""></a></li>
                                <li><a href=""><img src="http://acmelogos.com/images/logo-3.svg" alt=""></a></li>
                                <li><a href=""><img src="http://acmelogos.com/images/logo-3.svg" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="coaching-details-works-talk">
                            <div class="default-title">Let's talk with me!</div>
                            <div class="talk-button"><a href="#" class="primary-button">Contact</a></div>
                        </div>
                    </div>
                </div>
                <div class="coaching-image">
                    <figure><img src="./img/coaching.jpg"
                            alt="User Psychology In Design Training, Baku Engineering University">
                        <figcaption>User Psychology In Design Training, <abbr
                                title="Baku Engineering University">BEU</abbr></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
     {{> footer}}
    {{> hooter}}
</body>

</html>