{{> header}}

<body id="home">
    <div class="part-1">
       {{> nav}}
        <section class="title">
            <div class="container">
                <div class="default-title">Design, development and psychology</div>
                <div class="title-link">
                    <div class="works"><a href="/works" target="_blank"><i class="fas fa-folder-open"></i> <span>Works</span></a> <a
                            href="/hire" target="_blank">Create something together</a></div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="work-maps">
                <div class="work">
                    <a href="/services/mobile" target="_blank" title="Mobile Development">
                        <img src="./assets/img/app.svg" alt="Mobile Development">
                    </a>
                </div>
                <div class="work">
                    <a href="/services/web" target="_blank" title="Web Development">
                        <img src="./assets/img/coding.svg" alt="Web Development">
                    </a>
                </div>
                <div class="work">
                    <a href="/services/ux" target="_blank" title="Ux Research & Design">
                        <img src="./assets/img/schema.svg" alt="Ux Research & Design">
                    </a>
                </div>
                <div class="work">
                    <a href="/services/branding" target="_blank" title="Branding">
                        <img src="./assets/img/hashtag.svg" alt="Branding">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="part-2">
        <section class="container">
            <div class="projects">
                <div class="projects-title">
                    <div class="projects-title__title">Projects</div>
                    <div class="projects-title__description">Take a look at some of my work.</div>
                    <div class="projects-title__all"><a href="/works" class="primary-button">See All</a></div>
                </div>
                <div class="projects-container">
                    <div class="project"><img src="./assets/img/projects/allrent/1.jpg" alt="Allrent"  title="Allrent"></div>
                    <div class="project"><img src="./assets/img/projects/azersun/1.jpg" alt="Azersun" title="Azersun"></div>
                    <div class="project"><img src="./assets/img/projects/quote/1.jpg" alt="Quote Maker" title="Quote Maker"></div>
                </div>
            </div>
            <div class="section-footer">
                <ul class="footer-social-list">
                    <li><a href="https://www.linkedin.com/in/agshin-rajabov-9b905725/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/agsh.in/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/c/shuffleuniversity" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    {{!-- <li><a href="#"><i class="fab fa-github"></i></a></li> --}}
                </ul>
                <ul class="footer-links">
                    <li><a href="/news">Press</a></li>
                </ul>
            </div>
        </section>
    </div>
    {{> footer}}
{{> hooter}}
</body>

</html>