{{> header}}

<body>
    {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">News</div>
        </div>
    </section>
    <section class="container" style="margin-bottom:10rem">
        <div class="news-area">
            <a href="https://muallim.edu.az/news.php?id=7982" class="news-col" target="_blank">
                <div class="news-author">MUALLIM</div>
                <div class="news-col-title">
                    UX: Dizaynda İnsan Psixologiyası
                </div>
                <div class="news-col-description">
                    <p>
                        Shuffle University-nin təlimçisi Aqşin Rəcəbov özünün hazırladığı “Dizaynda insan
                        psixologiyası"..
                    </p>
                </div>
            </a>
            <a href="https://www.baki-xeber.com/sosial/95615.html" class="news-col" target="_blank">
                <div class="news-author">BAKI-XEBER</div>
                <div class="news-col-title">
                    “UniTalks”ın növbəti təlimi
                </div>
                <div class="news-col-description">
                    <p>
                        BMU-nun İctimaiyyətlə əlaqələr şöbəsinin xəbərinə görə, Shuffle University-nin təlimçisi Aqşin
                        Rəcəbov..
                    </p>
                </div>
            </a>
            <a href="https://azedu.az/az/news/20545" class="news-col" target="_blank">
                <div class="news-author">AZEDU</div>
                <div class="news-col-title">
                    “UniTalks”: Dizaynda insan psixologiyası
                </div>
                <div class="news-col-description">
                    <p>
                        AzEdu.az xəbər verir ki, təlimdə “Shuffle University”nin ilk təlimi olan və təlimçi Aqşin
                        Rəcəbov tərəfindən hazırlanan..
                    </p>
                </div>
            </a>
            <a href="http://ted.az/az/view/news/7104/novbeti-unitalks-seminari-kechirilecek-%E2%80%93-dizaynda-insan-psixologiyasi"
                class="news-col" target="_blank">
                <div class="news-author">TED</div>
                <div class="news-col-title">
                    Növbəti UniTalks seminarı keçiriləcək
                </div>
                <div class="news-col-description">
                    <p>
                        Tədbirə təlimçi kimi UX (User Experience) dizayner Aqşin Rəcəbov dəvət edilib. Dizaynda İnsan
                        Psixologiyası.. </p>
                </div>
            </a>
            <a href="http://baymedia.az/news/incident/4143.html" class="news-col" target="_blank">
                <div class="news-author">BAYMEDIA</div>
                <div class="news-col-title">
                    Unitalks-da növbəti tədbir!
                </div>
                <div class="news-col-description">
                    <p>
                        Shuffle University'nin ilk təlimi olan və təlimçi Aqşin Rəcəbov tərəfindən hazırlanan ... </p>
                </div>
            </a>
            <a href="https://medium.com/@shuffleuniversity/19-oktybar-tarixind%C9%99-bak%C4%B1-m%C3%BCh%C9%99ndislik-universitetind%C9%99-shuffle-university-nin-dizaynda-i%CC%87nsan-b3d2db308cf3"
                class="news-col" target="_blank">
                <div class="news-author">SHUFFLE</div>
                <div class="news-col-title">
                    UX: Dizaynda İnsan Psixologiyası Təlimi
                </div>
                <div class="news-col-description">
                    <p>
                        Təlimçi Aqşin Rəcəbov tərəfindən təlim sonunda qatılımcıların suallarına cavab verildi və ən fəal olan qatılı..</p>
                </div>
            </a>
            <a href="https://chip.az/chipxeber/3284-dizaynda-insan-psixologiyasi-adli-telim-kecirilecek"
                class="news-col" target="_blank">
                <div class="news-author">CHIP</div>
                <div class="news-col-title">
                    Dizaynda İnsan Psixologiyası adlı təlim keçiriləcək
                </div>
                <div class="news-col-description">
                    <p>
                        CHIP sayti xeber verir ki Dizaynda İnsan Psixologiyası adlı təlim keçiriləcək...</p>
                </div>
            </a>
        </div>
    </section>
    {{> footer}}
    {{> hooter}}
</body>

</html>