 {{> header}}
<body>
           {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">Tools</div>
        </div>
    </section>
    <section class="container" style="margin-bottom:10rem">
        <div class="tools-area">
            <a href="/tools/oxu/" class="tools-col">
                <div class="tools-col__img">
                    <img src="../assets/img/oxu.png" alt="Oxu.AZ">
                </div>
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Oxu.az News API
                    </div>
                    <div class="tools-col__details__subtitle">
                        Daily shared news API.
                    </div>
                </div>
            </a>
            <a href="/tools/currency/" class="tools-col">
                <div class="tools-col__img">
                    <img src="../assets/img/currency.png" alt="Oxu.AZ">
                </div>
                <div class="tools-col__details">
                    <div class="tools-col__details__title">
                        Currency API
                    </div>
                    <div class="tools-col__details__subtitle">
                        Instantly currency in AZ lang.
                    </div>
                </div>
            </a>
        </div>
    </section>
     {{> footer}}
     {{> hooter}}
</body>

</html>