{{> header}}


<body>
    {{> nav}}
    <section class="title">
        <div class="container">
            <div class="default-title">Branding</div>
            <div class="coaching">
                <div class="coaching-details">
                    <p class="coaching-details-text">I am moving your social media pages to a high-level page. We are
                        making your pages or profiles more useful, we are strengthening your connections with your
                        users.</p>
                    <p class="coaching-details-subtext">At the beginning of the design process of your brand, capturing
                        the insights you need for your users to design the perfect user experience. User Research aims
                        to design experiences that connect with and meet the needs of the user; is very decisive for the
                        development process.</p>
                    <div class="coaching-details-works">
                        <div class="default-title">Companies</div>
                        <div class="coaching-details-works-logos">
                            <ul class="platforms">
                                <li data-lang="Social Media"><a href="#"><img src="../assets/img/logos/berkay.png"
                                            alt="Singer Berkay"></a></li>
                                <li data-lang="Rebranding"><a href=""><img
                                            src="../assets/img/logos/cevrevesehircilik.png"
                                            alt="Türkiye Cumhuriyyeti Çevre ve Şehircilik Bakanlığı"></a></li>
                                <li data-lang="Redesign"><a href=""><img src="../assets/img/logos/kelebek.png"
                                            alt="Kelebek Dating App"></a></li>
                                <li data-lang="Crisis Management"><a href="#"><img
                                            src="../assets/img/logos/sokmarket.png" alt="Şok Market by Ülker"></a></li>
                                <li data-lang="Rebranding"><a href=""><img src="../assets/img/logos/tucev.png"
                                            alt="Türkiye Çevre Koruma Vakıfı"></a></li>
                                <li data-lang="Viral Advertising"><a href=""><img src="../assets/img/logos/ulker.png"
                                            alt="Ülker"></a></li>
                            </ul>
                        </div>
                        <div class="coaching-details-works-talk">
                            <div class="default-title">Let's talk with me!</div>
                            <div class="talk-button"><a href="/hire" class="primary-button">Contact</a></div>
                        </div>
                    </div>
                </div>
                <div class="coaching-image">
                    <figure><img src="../assets/img/technical-support-2.png?v=1.0" alt="Branding, Social Media"
                            title="Branding, Social Media"></figure>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
    {{> hooter}}

</body>

</html>