{{> header}}

<body>
           {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">Mobile Development</div>
            <div class="coaching">
                <div class="coaching-details">
                    <p class="coaching-details-text">Mobile applications for brands and companies come to the fore as an indispensable tool in their communication with customers today. 
                        Companies move their services and products to mobile platforms for making the lives of target audiences easier. They are able to offer special discounts, campaigns and instant notifications to users with their mobile applications.
                    </p>
                    <p class="coaching-details-subtext">In the applications I develop, it is completely involved, including design, coding, and even the development of ideas. I am here to help you revise your existing mobile applications, add and update your needs.</p>
                    <div class="coaching-details-works">
                        <div class="default-title">Platforms</div>
                        <div class="coaching-details-works-logos">
                            <ul class="platforms">
                                <li data-lang="Swift"><a href="#"><i class="fab fa-apple"></i></a></li>
                                <li data-lang="Kotlin"><a href=""><i class="fab fa-android"></i></a></li>
                                <li data-lang="Dart"><a href=""><img src="../assets/img/fuchsia.png" alt="Google Fuchsia"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="coaching-details-works-talk">
                            <div class="default-title">Let's talk with me!</div>
                            <div class="talk-button"><a href="/hire" class="primary-button">Contact</a></div>
                        </div>
                    </div>
                </div>
                <div class="coaching-image">
                    <figure><img src="../assets/img/mobile_development.png"
                            alt="Mobile Development" title="Mobile Development"></figure>
                </div>
            </div>
        </div>
    </section>
        {{> footer}}
    {{> hooter}}

</body>

</html>