{{> header}}
           {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">UX Research & Design</div>
            <div class="coaching">
                <div class="coaching-details">
                    <p class="coaching-details-text">User experience design is the process of designing products that provide users with meaningful and holistic experiences. 
                        It aims to design experiential, emotional and valuable aspects of human-product interaction in the most effective way.
                    </p>
                    <p class="coaching-details-subtext">Evaluation of the usability of a product or service by actual users of an existing design or design idea. In the usability test, we observe not only the usability of the product, but also the user behavior and habits.</p>
                    <div class="coaching-details-works">
                        <div class="default-title">UX Procedure</div>
                        <div class="ux-platforms">
                            <div class="ux-platforms-mobile"></div>
                        </div>
                        <div class="coaching-details-works-talk">
                            <div class="default-title">Let's talk with me!</div>
                            <div class="talk-button"><a href="/hire" class="primary-button">Contact</a></div>
                        </div>
                    </div>
                </div>
                <div class="coaching-image">
                    <figure><img src="../assets/img/ux.png?v1.0"
                            alt="UX Research & Design" title="UX Research & Design"></figure>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
{{> hooter}}

</body>

</html>