{{> header}}
<body>
           {{> nav}}

    <section class="title">
        <div class="container">
            <div class="default-title">Web Development</div>
            <div class="coaching">
                <div class="coaching-details">
                    <p class="coaching-details-text">I carefully read the brief which you give to us and analyze the purpose and objectives of the project. I develop the architecture of your website and start working for your growth. I think about the navigation logic.</p>
                    <p class="coaching-details-subtext">I try to keep the necessary information for your users on your site and provide them with the necessary pages correctly. Keeping your users on your web site with the right User Experience is our most important goal.
</p>
                    <div class="coaching-details-works">
                        <div class="default-title">Languages</div>
                        <div class="coaching-details-works-logos">
                            <ul class="platforms">
                                <li data-lang="HTML5"><a href="#"><i class="fab fa-html5"></i></a></li>
                                <li data-lang="CSS3"><a href=""><i class="fab fa-css3-alt"></i></a></li>
                                <li data-lang="JavaScript"><a href=""><i class="fab fa-js"></i></a></li>
                                <li data-lang="ReactJS"><a href=""><i class="fab fa-react"></i></a></li>
                                <li data-lang="NodeJS"><a href=""><i class="fab fa-node"></i></a></li>
                            </ul>
                        </div>
                        <div class="coaching-details-works-talk">
                            <div class="default-title">Let's talk with me!</div>
                            <div class="talk-button"><a href="/hire" class="primary-button">Contact</a></div>
                        </div>
                    </div>
                </div>
                <div class="coaching-image">
                    <figure><img style="width: 100%;" src="../assets/img/web.png"
                            alt="Web Development" title="Web Development"></figure>
                </div>
            </div>
        </div>
    </section>
        {{> footer}}
    {{> hooter}}

</body>

</html>